$font-stack: "Space Mono", monospace;
$couleur-gris: #6b717f;
$couleur-blanc: #fff;
$couleur-bordure: #8C8C8C;
$couleur-noir: #000;
$couleur-rose: #BF4080;
$couleur-vert: green;
$couleur-rouge: red;
$couleur-orange: orange;
$padding-px: 16px;
@mixin theme($theme: GreyShadow){
    -webkit-box-shadow: 10px 10px 15px -4px $couleur-gris;
    -moz-box-shadow: 10px 10px 15px -4px $couleur-gris;
    box-shadow: 10px 10px 15px -4px $couleur-gris;
  }

  

header {
    h1 {
        text-align: center;
        @extend %h;
    }
}

%h {
    color: $couleur-rose;
}

body {
    font: 100% $font-stack;
    color: $couleur-gris;
    margin: 0;
    padding: $padding-px;
    background-color: $couleur-blanc;
    overflow-x: hidden;
    main {
        padding: $padding-px;
        padding-top: 0;
        padding-bottom: 0;
        h2 {
            @extend %h;
        }
        article {
            display: flex;
            flex-wrap: wrap;
            section {
                flex-grow: 1;
                flex-basis: 45%;
                border: 1px $couleur-gris solid;
                @include theme($theme: GreyShadow);
                padding: $padding-px;
                margin: 16px;
                clear: both;
                overflow: auto;
                box-sizing: border-box;
            }
            #selling-points {
                flex-grow: 2;
                flex-basis: 100%;
            }
            code {
                background: $couleur-noir;
                border: 1px solid $couleur-gris;
                color: $couleur-bordure;
                page-break-inside: avoid;
                font-family: monospace;
                font-size: 15px;
                line-height: 1.6;
                margin-bottom: 1.6em;
                max-width: 100%;
                overflow: auto;
                padding: $padding-px;
                display: block;
                word-wrap: break-word;
            }
            .before {
                float: left;
                width: 40%;
            }
            .after {
                float: right;
                width: 40%;
            }
        }
        .messages {
            padding: $padding-px;
            %messages {
                border: 1px solid $couleur-bordure;
                padding: $padding-px;
                color: $couleur-blanc;
            }
            .success {
                background-color: $couleur-vert;
                @extend %messages;
            }

            .error {
                background-color: $couleur-rouge;
                @extend %messages;
                &:hover {
                    background-color: $couleur-vert;
                }
            }

            .warning {
                background-color: $couleur-orange;
                @extend %messages;
            }
        }
    }
}

footer{
    h3 {
        text-align: center;
        font-size: 1.5em;
        padding: $padding-px*2;
        margin-bottom: 0px;
        @extend %h;
    }
}